body{
	font: 16px/28px arial, sans-serif;
	background-color: #532c1f;
}

h1{
	color: #532c1f;
	font-weight: bolder;
	text-align: center;
	padding-bottom: 20px
}

.container {
	padding: 20px;
	width: 800px;
	margin: auto;
	background-color: #e9e7e4;
}



}
header {
	padding: 20px;
	text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8e5441;
    border: 1px solid gainsboro;
}

nav li {
    float: left;
}

nav li a{
    display: inline-block;
    color:#ffffff;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #b47a63;
}


article {
    width: 98.8%;
    height: auto;
    border-radius: 3px;
    border: 1px solid gainsboro;
    clear: both;

    }

article .konten {
    width: 23.5%;
    height: auto;
    margin: 35px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;
      background-color: #b89789;


}

article .isi {
    width: 98.5%;
    height: auto;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;


}
article .judul {
  	font-family: arial;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-weight: bolder;

}
article .isi p {
    margin-top: 0;
}
article .isi img {
    float: left;
    margin: 5px 5px 5px 5px;
}

article .konten img {
    width: 95.8%;
    height: 150px;
    margin: 5px 5px 5px 5px;

}
article .konten:hover {
    opacity:0.9;

}
article .konten .judul a {
    margin-left: 5px;
    text-decoration: none;
    font-size:x-large;
    color:#020101;
}

article .konten a:hover {
    opacity:0.9;
}


footer {
    clear: both;
    width: 98.8%;
    height: auto;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border-bottom: 1px solid gainsboro;
    padding-top: 15px;
    padding-bottom: 15px;  
    background-color: #8e5441;
}



/*pendidikan*/

.isi{
	padding 			: 10px;
	width				: 70%;
	height				: auto;
	background-color 	: #ba7584;
	position 			: relative;
	margin-top			: 5px;

}

.isiposting{
	background-color	: #b89789;
	width				: 98%;
	height				: auto;
	margin-bottom		: 5px;
	padding				: 5px;
}

.gambardepan{
	float				: left;
	height				: 140px;
	width 				: 150px;
	margin-right		: 5px;
	margin-top 			: 3px;
	padding 			: 1px;
	border 				: 1px solid #dddddd;
}

.isiposting h2 {
	font-size			: 20px;
	font-weight `		: bold;
	color 				: #532c1f;
	margin-top			: 4px;
	margin-bottom		: 3px;
}
.isiposting {
	color: #e9e7e4;
	text-decoration		: none;
}
.isiposting a:hover{
	color				: yellow;
}


.isipostingall {
	background-color	: #b89789;
	width				: 98%;
	height				: auto;
	margin-bottom		: 5px;
	padding				: 5px;
}





.isipostingall h2{
	text-align			: center;
	color				: maroon;
	font-size			: 20px;
	font-weight `		: bold;
}



.profil {
	width				: 200px;
	height				: 250px;
	display				: block;
	float				: right;
	padding-right		: 20px;
}

